{% extends 'base.html'%}

{% block title_block %} about page {% endblock %}

{% block subTitle_block %}About Rahal{% endblock %}


{% block body_block %}

<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero quos fugit, minus nisi repellendus aliquid
        delectus repudiandae nihil deleniti molestiae quia nostrum eum consequatur ipsum est labore sunt modi odit
        recusandae impedit ipsa, necessitatibus, minima veritatis! Quis nobis dolore id voluptate delectus esse
        cupiditate nemo doloribus reprehenderit sed, autem, corporis, facilis harum. Ad repudiandae doloribus a,
        molestiae recusandae optio itaque illum officia non est autem perspiciatis neque ullam amet necessitatibus
        veniam! Accusantium dolore minima eligendi. Laborum omnis in expedita amet, accusamus fugiat molestias quisquam
        quam a architecto, doloribus, rem similique eum dolorem. Aut expedita omnis eos quis laudantium commodi
        accusantium illum illo vel itaque nemo non animi fuga corrupti, reprehenderit dolores sed quos facilis qui et
        quasi ipsa rerum. Hic voluptatum reprehenderit sed quae at quas, provident sint ipsam architecto consectetur
        vero non corrupti ratione ut delectus, in nostrum? Labore quis suscipit excepturi molestiae necessitatibus,
        voluptates soluta vel! Eligendi repellendus praesentium ad quasi deserunt pariatur voluptate? Unde minima
        reprehenderit quod sint commodi, voluptate rerum, esse vitae animi officiis iure dolores. Repellat, excepturi
        enim non culpa accusantium totam eum delectus nisi veritatis dicta facere voluptatem soluta quis dolor
        voluptates provident porro dolorum a nemo vitae nulla asperiores modi. Repudiandae, eaque?

</div>
{% endblock %}