<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <title>{% block title_block %}{% endblock %}</title>
</head>

<body>

    <div class="navbar">
        <h1 class="logo">Rahal</h1>
        <ul>
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="{% url 'about'%}">About</a></li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
            <li><a href="#">Countries</a></li>
            {% if user.is_authenticated %}
            <i class="far fa-user-circle"></i>
            <li><a href="{% url 'logout'%}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login'%}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    
    {% block body_block %}
    {% endblock %}

    <div class="footer">
        <p>Rahal 2019&copy; All Right Reserved</p>
    </div>
</body>

</html>