<!DOCTYPE html>
{% load static %}
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">

<head>
    <title>{% block title_block %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{%static 'css/main.css'%}" />
</head>

<body>
    <!-- Header -->
    <header id="header" class="alt" class="withoutBanner">
        <div class="logo"><a href="{% url 'home'%}">Rahal </a></div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="{% url 'about'%}">About</a></li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
            <li><a href="#">Countries</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' user.pk %}">Profile</a></li>
            <li><a href="{% url 'logout'%}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login'%}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <!-- One -->
    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Sed amet nulla</p>
                <h2> {% block subTitle_block %}
                        {% endblock %}
                    </h2>
            </header>
        </div>
    </section>

    {% block body_block %}
    {% endblock %}

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            &copy; 2019 Rahal. All rights reserved.
        </div>
    </footer>

    <!-- Scripts -->
	<script src="{% static 'js/jquery.min.js'%}"></script>
	<script src="{% static 'js/jquery.scrollex.min.js'%}"></script>
	<script src="{% static 'js/skel.min.js'%}"></script>
	<script src="{% static 'js/util.js'%}"></script>
	<script src="{% static 'js/main.js'%}"></script>
</body>

</html>